@charset "utf-8";
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,select,textarea,button,th,td,menu,pre{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}
ul,dl,ol{list-style:none;}
img,fieldset,input[type="submit"]{border:0 none;}
img{display:inline-block;overflow:hidden;vertical-align:top;}
em{font-style:normal;}
strong{font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;}
button,input[type="button"]{cursor:pointer;border:0 none;outline: none;/* font: inherit; */}
textarea{word-wrap:break-word;resize:none;}  /* word-wrap for opera, resize for webkit */
input,select,textarea,a,button{outline:none;}
a{text-decoration:none;}
a,button{-webkit-transition: all 0.12s linear;-moz-transition: all 0.12s linear;-ms-transition: all 0.12s linear;transition: all 0.12s linear;}
input, textarea, keygen, select, button{
	font: inherit;
}

pre {
    font-family: inherit;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word
}


