.tool-wra {
    background: #F5F7FA;
    height: 30px;
    color: #78848F;
    border-bottom: 1px solid #EBEEF2;
    a {
        color: #78848F;
        line-height: 30px;
        &:hover {
            color: #F98A19;
        }
    }
    .header-home {
        margin: {
            top: -3px;
            right: 8px;
        }
    }
    @at-root .home-link {
        margin: {
            right: 37px;
        }
    }
    @at-root .link {
        margin: {
            right: 8px;
        }
    }
    @at-root .tool-menu {
        margin-right: -15px;
        > li {
            float: left;
            position: relative;
            @at-root .pub-wechat {
                position: relative;
                display: block;
                .pQcode {
                    display: none;
                    position: absolute;
                    margin: {
                        left: -25px;
                    }
                    width: 120px;
                    height: 120px;
                }
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 1px;
                height: 12px;
                background: #B5B5B5;
                right: 0;
                top: 0;
                bottom: 0;
                margin: {
                    top: auto;
                    bottom: auto;
                }
            }
            &.extra {
                &:after {
                    display: none;
                }
            }
        }
        a {
            padding: {
                left: 15px;
                right: 15px;
            }
        }
        .header-phone {
            margin: {
                right: 5px;
                top: -3px;
            }
        }
        @at-root .company-users {
            &:hover {
                .tool-menu-hd {
                    a {
                        color: #F98A19;
                        &:after {
                            border: {
                                top: {
                                    color: #F98A19;
                                }
                            }
                        }
                    }
                }
            }
        }
        @at-root .tool-menu-hd {
            padding-right: 20px;
            a {
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: -2px;
                    border-top: 6px solid #B5B5B5;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    height: 0;
                    top: 0;
                    bottom: 0;
                    margin: {
                        top: auto;
                        bottom: auto;
                    }
                }
                &:hover {
                    &:after {
                        border: {
                            top: {
                                color: #F98A19;
                            }
                        }
                    }
                }
            }
        }
        @at-root .tool-menu-bd {
            display: none;
            position: absolute;
            width: 106px;
            background: #FFFFFF;
            box-shadow: 0 3px 4px rgba(233, 233, 233, 0.85);
            border-bottom: 1px solid #DFDFDF \9;
            a {
                display: block;
                padding: {
                    left: 20px;
                }
            }
        }
    }
}

.detail-header {
    margin: {
        bottom: 20px;
    }
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0 3px 4px rgba(233, 233, 233, 0.85);
    border-bottom: 1px solid #DFDFDF \9;
    @at-root .detail-logo {
        img {
            max-height: 70px;
            vertical-align: middle;
            margin: {
                top: -1px;
            }
        }
    }
    @at-root .detail-nav-list {
        margin-right: -40px;
        li {
            float: left;
            font-size: 18px;
            line-height: 70px;
        }
        a {
            display: block;
            padding: {
                left: 40px;
                right: 40px;
            }
            color: #2C3E50;
            &:hover {
                color: #F98919;
            }
        }
    }
}

.detail-content {
    margin: {
        bottom: 50px;
    }
    @at-root .detail-info {
        margin: {
            bottom: 20px;
        }
        background: #FFFFFF;
        .fl {
            padding: 30px 20px 30px 30px;
            width: 900px;
        }
        .fr {
            margin: 2px;
            padding: 32px 18px 18px;
            background: #F7F8FA;
            width: 276px;
            height: 326px;
        }
        @at-root .detail-info-desc {
            float: right;
            width: 400px;
            h3 {
                margin-bottom: 14px;
                font: {
                    size: 22px;
                    weight: normal;
                }
                color: #2C3E50;
            }
            @at-root .info-desc-list {
                margin-bottom: 20px;
                overflow: hidden;
                dt {
                    margin-bottom: 7px;
                    font-size: 14px;
                    color: #2C3E50;
                }
                dd {
                    float: left;
                    width: 160px;
                    padding: {
                        left: 20px;
                    }
                    white-space: nowrap;
                    color: #78848F;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                em {
                    color: #F98A19;
                    font: {
                        size: 22px;
                        weight: bold;
                    }
                    margin-right: 5px;
                }
            }
            @at-root .detail-info-relate {
                color: #2C3E50;
                @at-root .relate-list {
                    margin-bottom: 12px;
                    border-bottom: 1px solid #EAEDF1;
                    span {
                        display: block;
                        line-height: 1;
                        padding-bottom: 23px;
                    }
                }
                .icon {
                    margin-right: 12px;
                    vertical-align: middle;
                }
                em {
                    padding-left: 25px;
                    font-size: 20px;
                }
                @at-root .relate-list-city {
                    font-size: 0;
                    padding: {
                        top: 4px;
                        bottom: 28px;
                    }
                    a {
                        display: inline-block;
                        padding: {
                            left: 8px;
                            right: 8px;
                        }
                        margin-bottom: 7px;
                        white-space: nowrap;
                        font-size: 12px;
                        color: #78848F;
                    }
                }
            }
            @at-root .btn-buy {
                display: inline-block;
                margin: {
                    top: 25px;
                }
                padding: 0 30px;
                height: 40px;
                line-height: 40px;
                background: #F98919;
                font-size: 16px;
                color: #FFFFFF;
                text-align: center;
                border-radius: 9999px;
                &:hover {
                    background: #F99F46;
                }

                &.disabled {
                    cursor: default;
                    background: #bbb !important;
                }
            }
        }
    }
    @at-root .detail-wra {
        .fl {
            padding: {
                left: 50px;
                right: 50px;
                bottom: 150px;
            }
            width: 880px;
            background: #FFFFFF;
            @at-root .detail-intro {
                h3 {
                    padding: {
                        top: 23px;
                        bottom: 14px;
                    }
                    margin: {
                        bottom: 8px;
                    }
                    font-size: 20px;
                    border: {
                        bottom: 1px solid #EAEDF1;
                    }
                }
            }
        }
        .fr {
            width: 280px;
            @at-root .detail-about {
                padding: {
                    top: 20px;
                    left: 20px;
                    right: 20px;
                    bottom: 30px;
                }
                margin-bottom: 20px;
                background: #FFFFFF;
                h4 {
                    margin: {
                        bottom: 15px;
                    }
                    padding: {
                        bottom: 10px;
                        left: 10px;
                    }
                    font: {
                        size: 16px;
                    }
                    color: #2C3E50;
                    border: {
                        bottom: 1px solid #EAEDF1;
                    }
                    &.detail-recommend {
                        margin: {
                            bottom: 7px;
                        }
                    }
                }
                @at-root .detail-company {
                    @at-root .com-logo {
                        width: 120px;
                        // height: 60px;
                        border: 1px solid #CDD2D5;
                        margin: {
                            left: auto;
                            right: auto;
                            bottom: 15px;
                        }
                        img {
                            vertical-align: top;
                            max-width: 118px;
                            max-height: 58px;
                        }
                    }
                    @at-root .com-name {
                        margin-bottom: 8px;
                        font: {
                            size: 16px;
                        }
                        color: #2C3E50;
                        text-align: center;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    @at-root .com-desc {
                        font-size: 14px;
                        color: #78848F;
                        line-height: 24px;
                        text-indent: 2em;
                    }
                }
                @at-root .detail-recommend-list {
                    padding-bottom: 7px;
                    li {
                        line-height: 36px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    a {
                        color: #78848F;
                        &:hover {
                            color: #F98919;
                        }
                    }
                }
            }
        }
    }
}
