.pro-search {
    padding: {
        top: 16px;
    }
    margin: {
        bottom: 30px;
    }
    background: #FFFFFF;
    color: #2C3E50;
    font-size: 0;
    border: {
        bottom: 1px solid #CDD2D5;
    }
    .search {
        margin: {
            bottom: 10px;
        }
    }
    @at-root .search-terms {
        font-size: 14px;
        padding: {
            left: 130px;
            top: 12px;
            bottom: 12px;
            right: 40px;
        }
        min-height: 52px;
        border: {
            bottom: 1px solid #E6E8EA;
        }
        dt {
            float: left;
            width: 130px;
            padding: {
                left: 15px;
            }
            margin-left: -130px;
            font-weight: bold;
        }
        dd {
            font-size: 0;
            line-height: 25px;
            overflow: hidden;
        }
        a {
            display: block;
            float: left;
            font-size: 14px;
            color: #2C3E50;
            margin: {
                right: 25px;
                bottom: 3px;
            }
            white-space: nowrap;
            &.active,
            &:hover {
                color: #F98A19;
            }
        }
        &.extra {
            border: {
                bottom: none;
            }
        }
    }
    @at-root .search-terms-city {
        padding: {
            right: 0;
        }
        position: relative;
    }
}

.pro-list-wra {
    margin: {
        top: 30px;
        bottom: 52px;
    }
    @at-root .pro-list {
        li {
            position: relative;
            &:before,
            &:after {
                content: '';
                position: absolute;
                z-index: -1;
                display: block;
                width: 280px;
                left: -1px;
                top: -1px;
                right: -1px;
                bottom: -1px;
                -webkit-transition: opacity .35s, transform .35s;
                -moz-transition: opacity .35s, transform .35s;
                -ms-transition: opacity .35s, transform .35s;
                transition: opacity .35s, transform .35s;
                opacity: 0;
                filter: alpha(opacity=0);
            }
            &:before {
                border: {
                    top: 1px solid #F98A19;
                    bottom: 1px solid #F98A19;
                }
                -webkit-transform: scale(0, 1);
                -moz-transform: scale(0, 1);
                -ms-transform: scale(0, 1);
                transform: scale(0, 1);
            }
            &:after {
                border: {
                    left: 1px solid #F98A19;
                    right: 1px solid #F98A19;
                }
                -webkit-transform: scale(1, 0);
                -moz-transform: scale(1, 0);
                -ms-transform: scale(1, 0);
                transform: scale(1, 0);
            }
            &:hover {
                box-shadow: none;
                &:before,
                &:after {
                    opacity: 1;
                    filter: alpha(opacity=100);
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    -ms-transform: scale(1);
                    transform: scale(1);
                }
            }
        }
    }
    li {
        margin: {
            bottom: 20px;
        }
    }
}
