// 底部 footer
.ind-footer {
    padding: {
        top: 52px;
    }
    height: 176px;
    background: #2C3E50;
    text-align: center;
    color: #9BA8B5;
    font-size: 0;
    @at-root .footer-info {
        margin: {
            bottom: 32px;
        }
        font-size: 14px;
        line-height: 1.6;
        span, .help {
            display: inline-block;
            padding: {
                left: 25px;
            }
            height: 22px;
            background: inline-image('../img/platform/footer.png') no-repeat;
        }
        .adds {
            background-position: 0 0;
            padding: {
                right: 54px;
            }
        }
        .work-time {
            background-position: 0 -22px;
            padding: {
                right: 40px;
            }
        }
        .tel {
            background-position: 0 -44px;
            padding: {
                right: 46px;
            }
        }
        .help {
            background-position: 0 -66px;
            color: inherit;
        }
    }
    @at-root .footer-nav {
        margin: {
            bottom: 10px;
        }
        font-size: 14px;
        a {
            padding: {
                left: 18px;
                right: 18px;
            }
            color: #9BA8B5;
            position: relative;
            &:hover {
                color: #F98A19;
                &:after {
                    color: #9BA8B5;
                }
            }
            &:after {
                content: '|';
                width: 1px;
                height: 13px;
                font-size: 13px;
                position: absolute;
                display: block;
                right: -1px;
                top: 3px;
                line-height: 1;
            }
            &.extra {
                &:after {
                    display: none;
                }
            }
        }
    }
    @at-root .copyright {
        font-size: 12px;
    }
}

// 悬浮
.ind-bar {
    position: fixed;
    right: 58px;
    top: 50%;
    z-index: 99999;
    .ind-bar-list {
        > li {
            width: 50px;
            height: 50px;
            margin-bottom: 15px;
            position: relative;
        }
    }
    @at-root .bar {
        display: block;
        width: 50px;
        height: 50px;
        background: inline-image('./platform/bar.png') no-repeat;
        &:hover {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }
    }
    @at-root .bar-Qcode {
        background-position: 0 0;
        position: relative;
    }
    @at-root .bar-QQ {
        background-position: 0 -50px;
    }
    @at-root .bar-calculate {
        background-position: 0 -100px;
    }
    @at-root .bar-top {
        background-position: 0 -150px;
    }
    @at-root .Qcode {
        width: 148px;
        height: 146px;
        display: none;
        @include background(url('../img/platform/Qcode_bg.png') no-repeat 0 0);
        position: relative;
        left: -148px;
        top: -58px;
        img {
            margin: {
                top: 18px;
                left: 18px;
            }
        }
    }
    @at-root .sidebar-back_top {
        display: none;
    }
}

// 平台其他页面底部（原底部）
.foot {
    text-align: center;
    clear: both;
    margin-bottom: 20px;
}

.foot img {
    display: block;
    margin: 0 auto;
}

.sol {
    padding: 15px 0 70px 0;
    color: #f98a19;
}

.foot-info-box {
    display: inline-block;
}

.foot-info-box dl {
    float: left;
}

.foot-info-box dl dt {
    float: left;
    margin-right: 16px;
    background: #8397ac;
    color: #fff;
    padding: 6px;
}

.foot-info-box dl dd {
    float: left;
    margin-right: 16px;
    line-height: 26px;
    cursor: pointer;
}

.foot-info-box dl dd a {
    color: #78848f;
}

.foot-info-box dl dd a:hover {
    color: #f98a19;
}
