<extend name="Base/common" />
<block name="body">
	<div class="accountInfo-title"><h2 class="">银行卡信息</h2></div>
    <div class="gutter table-responsive">
	    <div class="bankCardInfo">
			<div class="cardInfo clearfix2">
				<table class="setCard" width="100%" >
					<tbody>
						<tr>
							<td width="45%" align="right">账号：</td>
							<td width="55%"><input class="form-control" type="text"></input></td>
						</tr>
						<tr>
							<td></td>
							<td>所属银行填账号之后自动显示</td>
						</tr>
						<!-- <tr>
							<td align="right">所属银行：</td>
							<td>中国建设银行</td>
						</tr> -->
						<tr>
							<td align="right">开户名：</td>
							<td><input class="form-control" type="text"></td>
						</tr>
						<tr>
							<td></td>
							<td class="button">
								<input type="button" value="保 存" class="btn btn-primary pull-left">
								<input type="button" value="取 消" class="btn pull-right">
							</td>
						</tr>
					</tbody>
				</table>
			</div>

	    </div>

	</div>
</block>
<block name="script">

</block>
<!-- 用于加载js代码 -->
