<extend name="Base/common" />
<block name="body">
	<div class="accountInfo-title"><h2 class="">企业服务详情</h2></div>
    <div class="gutter comServiceDetail">
		<a href="#" class="btn-border pull-right">返回</a>

		<div class="order-info clearfix2">
			<ul>
				<li class="col-xs-4">订单编号： 000000000</li>
				<li class="col-xs-4">产品名称： 年费会员产品</li>
				<li class="col-xs-4">购买企业： 广东智通人才</li>
			</ul>
			<div class="pay-block clearfix2">
				<div class="pull-left col-xs-3"><span><em>￥</em>1000</span>待支付</div>
				<a href="javascript:;" class="pay pull-right col-xs-3">确定支付</a>
			</div>
		</div>

		<div class="service-info">
			<h2>服务状态：<span>未签约</span> <a href="javascript:" class="btn-set">设定</a></h2>
			<ul class="col-xs-10">
				<li class="col-xs-4">服务有效期：2016/02/01</li>
				<li class="col-xs-4">报增减截止日：6日</li>
				<li class="col-xs-4">账单日：当月10号</li>
				<li class="col-xs-4">支付截止日：当月15日</li>
				<li class="col-xs-4">是否代发工资：否</li>
			</ul>
			<h2 class="clearfix2">服务参保地</h2>
			<table class="table-bordered text-center table-address">
				<thead>
					<tr>
						<th>序号</th>
						<th>参保地</th>
						<th>社保/公积金服务费</th>
						<th>代发工资服务费</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>合肥</td>
						<td>50</td>
						<td>50</td>
						<td><a href="">修改</a></td>
					</tr>
					<tr>
						<td>2</td>
						<td>合肥</td>
						<td>50</td>
						<td>50</td>
						<td><a href="">修改</a></td>
					</tr>
					<tr>
						<td>3</td>
						<td>合肥</td>
						<td>50</td>
						<td>50</td>
						<td><a href="">修改</a></td>
					</tr>
					<tr>
						<td>4</td>
						<td>合肥</td>
						<td>50</td>
						<td>50</td>
						<td><a href="">修改</a></td>
					</tr>
					<tr>
						<td>5</td>
						<td>合肥</td>
						<td>50</td>
						<td>50</td>
						<td><a href="">修改</a></td>
					</tr>
				</tbody>
			</table>
			<a href="javascript:" class="btn-addAddress"><span>+</span>添加参保地</a>
		</div>
	</div>
</block>
<block name="script">
    <script data-init="comBuyService" type="text/javascript" src="/Application/Service/Assets/js/dist/user.bundle.js"></script>
</block>
<!-- 用于加载js代码 -->
