.pay-form-layer{
	padding: 20px 30px;
	line-height: 34px;

	.form-group{
		margin-bottom: 0;
	}
	.label-left{
		width: 5em;
	}

	.form-control {
		width: 190px;
	}
	
	.inline-block{
		position: relative;
	}
	span.error{
		position: absolute;
		left: 0;
		top: 100%;
	}
}