//bill
.bill-detail {
    background: #fbfbfb;
    ul.bill-total {
        background: #f2f2f2;
        padding: 35px 0;
        overflow: hidden;
        li {
            font-size: 18px;
            text-align: center;
            span {
                font-weight: 900;
                color: $color-warm;
            }
        }
    }
    .bill-status {
        padding: 20px 0 40px 30px;
        font-size: 14px;
        overflow: hidden;
        line-height: 34px;
        
        p {
            line-height: 35px;
            .feedBack-text {
                width: 250px;
                height: 35px;
                margin-left: 20px;
            }
            button.btn-primary {
                font-size: 16px;
                padding: 8px 30px;
            }
        }
    }
    .pay-way{
        border: 1px solid #ddd;
        padding: 10px 25px;
        line-height: 32px;
        margin-top: 60px;
        width: 90%;
    }
}