@charset "UTF-8";
/*网格系统*/
/* 
 * @param {array} 支持生成多个类 
 */
/* line 7, ../../sass/sass/page/plan.scss */
.planList .pageSearch {
  line-height: 36px;
}
/* line 9, ../../sass/sass/page/plan.scss */
.planList .pageSearch input, .planList .pageSearch select {
  margin-left: 0px;
  margin-right: 10px;
}
/* line 13, ../../sass/sass/page/plan.scss */
.planList .pageSearch .t1 {
  width: 110px;
}
/* line 16, ../../sass/sass/page/plan.scss */
.planList .pageSearch .t2 {
  width: 220px;
}
/* line 19, ../../sass/sass/page/plan.scss */
.planList .pageSearch .t3 {
  width: 150px;
}
/* line 23, ../../sass/sass/page/plan.scss */
.planList .pageTable {
  table-layout: fixed;
}
/* line 25, ../../sass/sass/page/plan.scss */
.planList .pageTable td {
  Word-break: break-all;
  min-height: 38px;
  height: auto;
  padding: 0 5px;
}
/* line 31, ../../sass/sass/page/plan.scss */
.planList .pageTable .c-1 {
  width: 80px;
}
/* line 32, ../../sass/sass/page/plan.scss */
.planList .pageTable .c-2 {
  width: 80px;
}
/* line 33, ../../sass/sass/page/plan.scss */
.planList .pageTable .c-3 {
  width: 130px;
}
/* line 34, ../../sass/sass/page/plan.scss */
.planList .pageTable .c-4 {
  width: 80px;
}
/* line 35, ../../sass/sass/page/plan.scss */
.planList .pageTable .c-5 {
  width: 80px;
}
/* line 36, ../../sass/sass/page/plan.scss */
.planList .pageTable .c-6 {
  width: 180px;
}
/* line 37, ../../sass/sass/page/plan.scss */
.planList .pageTable .c-7 {
  width: 80px;
}
/* line 38, ../../sass/sass/page/plan.scss */
.planList .pageTable .c-8 {
  width: 190px;
}
/* line 39, ../../sass/sass/page/plan.scss */
.planList .pageTable .c-9 {
  width: 190px;
}
/* line 40, ../../sass/sass/page/plan.scss */
.planList .pageTable .c-10 {
  padding: 0px;
}
/* line 42, ../../sass/sass/page/plan.scss */
.planList .pageTable .c-10 table {
  width: 722px;
  margin: -1px;
}
/* line 46, ../../sass/sass/page/plan.scss */
.planList .pageTable .c-10 table td {
  height: 38px;
}
