<div class="ind-footer">
    <div class="footer-info">
        <span class="adds"><?php  echo $publicFooter['company_address']; ?></span>
        <span class="work-time">周一至周五&emsp;9:00-18:00</span>
        <span class="tel"><?php echo $publicFooter['tel_local_number']; ?></span>
        <a class="help" href="/Article-helpCenter-category-common_question">帮助中心</a>
    </div>
    <include file="Public/friend_links" />
    <include file="Public/copyright" />
</div>
<include file="Public/bar" />
<script src="/Application/Home/Assets/js/area.js"></script>
<include file="Public/baseScript" />
</body>
</html>
