<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<title>{:C('WEB_SITE_TITLE')}</title>
	<link rel="stylesheet" href="/Application/Home/Assets/css/main.css">
</head>
<body class="platform-body">
	<div class="header clearOver">
		<div class="head wrapper clearOver"><!-- 头部 -->
			<div class="head-logo-box fl">
				<a class="head-logo  fl" href="{:U('index/index')}">
					<i class="icon header-header_logo"></i>
				</a>
				<!-- <div class="citys fl">合肥<i class="header-city_icon fr"></i></div> -->
			</div>
			<ul class="fl nav-list">
				<li>
					<a  <php>if(strtolower(CONTROLLER_NAME)=='index' && strtolower(ACTION_NAME)=='index') echo 'class="now"';</php> href="{:U('Index/index')}">首页</a>
				</li>
				<li>
					<a  <php>if(strtolower(CONTROLLER_NAME)=='index' && strtolower(ACTION_NAME)=='serviceproduct') echo 'class="now"';</php> href="{:U('Index/serviceProduct')}" >服务商</a>
				</li>
				<!-- <li>
					<a href="#">产品中心</a>
					<a <php>if(strtolower(CONTROLLER_NAME)=='article'&& $category[0]['pid']==1) echo 'class="now"';</php> href="{:U('Article/lists','category=xz_help')}">资讯指南</a>
				</li> -->
				<li>
					<a <php>if(strtolower(CONTROLLER_NAME)=='index' && strtolower(ACTION_NAME)=='servicepoint') echo 'class="now"';</php> href="{:U('Index/servicePoint')}">查询工具</a>
				</li>
				<li>
					<a <php>if(strtolower(CONTROLLER_NAME)=='article' && strtolower(ACTION_NAME)=='abountus') echo 'class="now"';</php> href="{:U('Article/aboutUs')}">关于我们</a>
				</li>
			</ul>

			<!-- <div class="phone">400 007 5156</div> -->
			<div class="PaL fr">
				<if condition="!session('?company_user')">
					<div class="login">
						<a href="{:U('Member/firmRegister')}" class="login-btn fr"><i></i>注册</a>
						<a href="{:U('Member/firmLogin')}" class="registered-btn fr">登录</a>
					</div>
				<else />
					<php>
						$user = session('company_user');
					</php>
					<div class="company-name">
						<a href="{:U('Company/Index/index')}" title="{$user.company_name}">{$user.company_name}</a>
					</div>
					<ul class="user-list">
						<li><a href="{:U('Company/Order/index')}">订单进度</a></li>
						<li><a href="{:U('Company/Account/companyUserInfo')}">账号信息</a></li>
						<li><a href="{:U('Company/Account/companyInfo')}">企业信息</a></li>
						<li><a href="{:U('Company/Information/myPackage')}">我的套餐</a></li>
						<li><a href="{:U('Company/Information/index')}">信息通知</a></li>
						<li><a href="{:U('Member/logout')}">退出</a></li>
					</ul>
				</if>
			</div>
		</div>
	</div>