<!-- 底部导航/友情链接 -->
<div class="footer-nav">
	<a href="http://www.chitone.com.cn/" target="_blank" rel="external nofollow">集团官网</a>
	<a href="http://www.job5156.com/" target="_blank" rel="external nofollow">智通人才</a>
	<a href="http://www.hr5156.com/" target="_blank" rel="external nofollow">智通外包</a>
	<a href="http://www.hunter5156.com/" target="_blank" rel="external nofollow">智通美瀚</a>
	<a href="http://www.xue5156.com/" target="_blank" rel="external nofollow">智通学习</a>
	<a href="http://www.mydaojia.com/" target="_blank" rel="external nofollow" class="extra">智通到家</a>
</div>