<div class="progress">
    <div class="progress-content">
        <div class="firm-step <php>if(ACTION_NAME=='getBackPass')echo 'step-now';</php>">
            <i class="icon">1</i>
            <p>填写用户名</p>
        </div>
        <div class="firm-step-line"></div>
        <div class="firm-step <php>if(ACTION_NAME=='getBackPass2')echo 'step-now';</php>">
            <i class="icon">2</i>
            <p>验证身份</p>
        </div>
        <div class="firm-step-line"></div>
        <div class="firm-step <php>if(ACTION_NAME=='getBackPass3')echo 'step-now';</php>">
            <i class="icon">3</i>
            <p>设置新密码</p>
        </div>
        <div class="firm-step-line"></div>
        <div class="firm-step <php>if(ACTION_NAME=='getBackPass4')echo 'step-now';</php>">
            <i class="icon">4</i>
            <p>完成</p>
        </div>
    </div>
</div>