<!DOCTYPE HTML>
<html>

<head>
    <include file="Public/head" />
</head>

<body class="login-body">
    <!-- <header class="jumbotron subhead" id="overview">
  <div class="container">
    <h2>用户登录</h2>
    <p><span><span class="pull-left"><span>还没有账号? <a href="{:U('User/register')}">立即注册</a></span> </span></p>
  </div>
</header> -->
    <header class="header">
        <div class="head">
            <div class="logo pull-left">
                <a href="/">
                  <img src="/Application/Service/Assets/images/logo_v1.2.png" alt="智保易服务商后台">
                </a>
            </div>
        </div>
    </header>
    <div class="main-login">
        <section class="login clearfix">
            <div class="span12 pull-right">
                <form id="login-form" class="login-form form-horizontal" method="post">
                    <h2 class="title"><!-- <i class="icon icon-logo-sm"></i> -->服务商登录</h2>
                    <dl class="horizontal horizontal-4em">
                        <dt class="left text-right">
                          <label class="" for="inputEmail">账 号：</label>
                        </dt>
                        <dd class="right">
                          <input type="text" id="inputEmail" class="ipt" placeholder="请输入用户名" ajaxurl="/member/checkUserNameUnique.html" datatype="*1-16" value="" name="username" required>
                        </dd>
    
                    </dl>
                    <dl class="horizontal horizontal-4em">
                        <dt class="left text-right">
                           <label class="" for="inputPassword">密 码：</label>
                        </dt>
                        <dd class="right">
                          <input type="password" id="inputPassword" required class="ipt" placeholder="请输入密码" name="password">
                        </dd>

                    </dl>

                    <!-- <div class="control-group form-group">
                <label class="control-label col-xs-3" for="verify">验证码：</label>
                <div class="controls col-xs-9">
                  <i class="icon icon-psw-img"></i>
                  <input type="text" id="verify" class="span3 verify form-control pull-left" placeholder="请输入验证码" datatype="*5-5" name="verify">
                  <img class="verifyimg reloadverify pull-right" alt="点击切换" src="{:U('verify')}" style="cursor:pointer;">
                </div>
              </div> -->

              <dl class="horizontal horizontal-4em">
                  <dd class="right">
                    <button type="submit" class="btn btn-primary btn-login J_btn-submit">登 录</button>
                  </dd>
              </dl>

                </form>
            </div>
        </section>
        <div class="login-footer"></div>
    </div>
</body>
<include file="Public/footer" />
<block name="script">
    <script data-module="login" type="text/javascript" src="/Application/Service/Assets/js/dist/user.bundle.js"></script>
</block>
