<extend name="Base/common" />
<block name="body">
    <div class="pannel-hd">
        <h2 class="cnt-title inline-block">文章内容管理</h2>
        <span class="f-small">（发布的文章需待平台审核后，方可展示在内容页面）</span>
        <div class="buttons buttons-no-pos">
             <a href="javascript:history.go(-1);" class="btn btn-back">返回</a>
        </div>
    </div>

    <form action="{:U('Article/update')}" method="post">
        <input type="hidden" name="id" value="<?php if($result['id']) echo $result['id']; ?>">
        <input type="hidden" name="company_id" value="<?php if($result['company_id']) echo $result['company_id']; ?>">
        <div class="pannel-detail clearfix z-index1000">
            <dl class="horizontal horizontal-5em fl">
              <dt class="left text-right">标题：</dt>
              <dd class="right size2">
                  <input class="ipt" type="text" value="<?php if($result['title']) echo htmlspecialchars_decode(html_entity_decode($result['title'])); ?>" name="title" required>
              </dd>
            </dl>
            <dl class="horizontal horizontal-7em fl">
              <dt class="left text-right">所属频道：</dt>
              <dd class="right size2 ipt-box"> 
                <select name="category_id" required>
                  
                    <volist name="_category" id="v">
                    <option value="{$v.id}" <?php if($result['category_id'] == $v['id']) echo 'selected';?>>{$v.title}</option>
                    </volist>
                </select>
              </dd>
            </dl>
            <dl class="horizontal horizontal-7em fl">
              <dt class="left text-right">关键字：</dt>
              <dd class="right size2">
                    <input class="ipt" type="text" name="keyword" required value="<?php if($result['keyword']) echo $result['keyword']; ?>">
              </dd>
            </dl>
        </div>
        <h3 class="pannel-detail-title">内容：</h3>
        <div class="clear-l" style="padding-bottom: 20px;">
            <script id="editor" type="text/plain" style="height:400px;" name="content" required>
            <?php if($result['content']) echo htmlspecialchars_decode(html_entity_decode($result['content'])); ?>
            </script>
        </div>

        <h3 class="pannel-detail-title">描述：</h3>
        <div class="clearfix">
             <textarea class="textarea" name="description" required maxlength="500"><?php if($result['description']) echo nl2br(htmlspecialchars_decode(html_entity_decode(recover_escape_char($result['description'])))); ?></textarea>
        </div>

        <div class="clear-l text-center">
            <input id="J_submit-btn" class="btn btn-submit detail-btn-mt" type="button" value="发布">
        </div>
        

    </form>
</block>
<block name="script">
    <script src="__ASSETS__/js/plug/ueditor/ueditor.config.js"></script>

    <script src="__ASSETS__/js/plug/ueditor/ueditor.all.min.js"></script>
    <script src="__ASSETS__/js/plug/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">var UEeditor = UE.getEditor('editor',{
            toolbars: [ 
               [
                'source', //源代码
                'simpleupload', //单图上传
                'insertimage', '|',  //多图上传
                'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript', 'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', '|', 'forecolor', 'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc', '|',
               // 'pasteplain', //纯文本粘贴模式
               'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 
                ], 
                ],
        });</script>
    <script data-module="updateArticle" src="__ASSETS__/js/dist/content.bundle.js"></script>

</block>
<!-- 用于加载js代码 -->