<extend name="Base/common" />
<block name="body">
    <div class="right_box overflow">

        <div class="pannel-hd">
            <h2 class="cnt-title">批量导入工资单</h2>
        </div>
        <input type="hidden" value="1" id="salary">
        <form id="batchForm"> 
        	<div class="msg_list msg_list_ls">
            	<h3>批量导入工资单<span>注：先下载对应城市的导入模板，完成编辑后，上传导入</span></h3>
            	<div class="inp_box inp_ls_box">
                	<label class="inp_tit">导入报增文件：<i class="inp_tip">*</i></label>
                    <div class="inline-block">
                    	<input type="text" name="fileName" value="" placeholder="上传之后自动显示文件名" class="text" required id="fileName" readonly="readonly">
                        <a class="up_excel" id="filePicker">浏览</a>
                    	<a href="{:U('Service/Business/downloadTemplateFile',array('category'=>2))}" class="lnk_text cbluelg">下载模板</a>
                    </div>
                </div>
                <div class="inp_box select_box inp_ls_box">
                    <label class="inp_tit">服务企业 ：<i class="inp_tip">*</i></label>
                    <div class="inline-block ipt-box">
                        <select class="select" name="companyUserId" required id="userId">
                            <option value="">请选择</option>
                            <if condition="$serviceProductOrderResult">
                            	<volist name="serviceProductOrderResult" id="vo">
                            		<option value="{$vo.user_id}">{$vo.company_name}</option>
                            	</volist>
                            </if>
                        </select>
                    </div>
                </div>
                <div class="inp_box select_box inp_ls_box">
                    <label class="inp_tit">服务套餐 ：<i class="inp_tip">*</i></label>
                    <div class="inline-block ipt-box">
                        <select class="select" name="productId" required id="vip_select">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    
                </div>
                <div class="inp_box select_box inp_ls_box">
                    <label class="inp_tit">城市 ：<i class="inp_tip">*</i></label>
                    <div class="inline-block ipt-box">
                        <select class="select" name="location" required id="location">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                
                <div class="inp_box select_box inp_ls_box">
                    <input type="hidden" name="templateId" id="templateId" value="">
                    <input type="hidden" name="filePath" id="filePath" value="">
                	<input type="button" value="导入" class="btn ms_btn btn_orange btn_update" id="submitBtn">
                </div>
        	</div>
        </form>
        <div id="batch_table" class="batch_table">
        	
        </div>
    </div>
</block>
<block name="script">
    <script data-init="toIncreaseBatch" type="text/javascript" src="__ASSETS__/js/dist/insurance.bundle.js"></script>
</block>
