<!-- 客服报增 -->
<extend name="Base/common" />
<block name="body">
	<div class="pannel-details">
		<h2 class="cnt-title">新建报增</h2>
		<div class="details-item">
			<label class="details-lb" for="">服务套餐</label>
			<div class="ipt-box">
				<select>
					<option value="" selected>代发工资（东莞外包）</option>
					<option value="">智尊宝（安徽安徽）</option>
				</select>
				<p class="details-tips">服务有效期至2016年01月01日</p>
			</div>
		</div>
		<div class="details-item">
			<label class="details-lb" for="">姓名</label>
			<div class="ipt-box">
				<input type="text" name="" class="ipt" required />
				<p class="details-tips">男</p>
			</div>
		</div>
		<div class="details-item">
			<label class="details-lb" for="">身份证号</label>
			<div class="ipt-box">
				<input type="text" name="" class="ipt" required />
				<p class="details-tips">年龄&emsp;25岁</p>
			</div>
		</div>
		<div class="details-item">
			<label class="details-lb" for="">身份证正反面</label>
			<div class="ipt-box">
				身份证照片
			</div>
		</div>
		<div class="details-item">
			<label class="details-lb" for="">手机号</label>
			<div class="ipt-box">
				<input type="text" name="" class="ipt" required />
			</div>
		</div>
		<div class="details-item">
			<label class="details-lb" for="">参保地</label>
			<div class="ipt-box">
				<select>
					<option value="">合肥</option>
				</select>
			</div>
		</div>
		<div class="details-item">
			<label class="details-lb" for="">社保类型</label>
			<div class="ipt-box">
				<select>
					<option value="">本地城镇</option>
					<option value="">本地农业</option>
					<option value="">外地城镇</option>
					<option value="">外地农业</option>
				</select>
			</div>
		</div>
		<div class="details-item">
			<label class="details-lb" for="">项目类型</label>
			<div class="ipt-box">
				<select>
					<option value="">本地城镇</option>
					<option value="">本地农业</option>
					<option value="">外地城镇</option>
					<option value="">外地农业</option>
				</select>
			</div>
		</div>
		<div class="details-item">
			<label class="details-lb" for="">社保基数</label>
			<div class="ipt-box">
				<input type="text" name="" class="ipt" required />
			</div>
		</div>
		<div class="details-item">
			<div class="ipt-box">
				<label for=""><input type="checkbox" name="" class="" />是否购买公积金</label>
			</div>
		</div>
		<div class="details-item">
			<label class="details-lb" for="">公积金基数</label>
			<div class="ipt-box">
				<input type="text" name="" class="ipt" required />
			</div>
		</div>
		<div class="details-item">
			<label class="details-lb" for="">单位缴纳比例</label>
			<div class="ipt-box">
				<input type="text" name="" class="ipt" required />&emsp;%
			</div>
		</div>
		<div class="details-item">
			<label class="details-lb" for="">个人缴纳比例</label>
			<div class="ipt-box">
				<input type="text" name="" class="ipt" required />&emsp;%
			</div>
		</div>
		<div class="details-item">
			<label class="details-lb" for="">期缴时间</label>
			<div class="ipt-box">
				<span class="ipt-pos">
					<input type="text" name="" class="ipt date" required />
					<i class="icon icon-date"></i>
				</span>年
				<span class="ipt-pos">
					<input type="text" name="" class="ipt date" required />
					<i class="icon icon-date"></i>
				</span>月
			</div>
		</div>
	</div>
</block>