<!-- 头部[[ -->
<div class="page-header clearfix">
    <div class="logo fl">
        <a href="/Service-Service-index"><img src="/Application/Service/Assets/images/logo_v1.2.png" alt="服务商后台"></a>
    </div>
    <div class="user-info fr">
        <a class="logined fr" id="logout" href="Service-User-loginOut">
            <i class="icon icon-exit"></i>退出
        </a>
        <div class="avatar fr">
            <span class="avatar-img">
                <img src="/Application/Service/Assets/images/avatar_default.png" alt="头像">
            </span>
            <span class="avatar-txt"><?php  $group = session('user')['group'];
                if($group == 1 ){
                    echo '管理员';
                }elseif($group == 2){
                    echo '财务';
                }elseif($group == 3){
                    echo '客服';
                }else{
                    echo'内容管理员';
                }
                 $userInfo = session('user'); $auth = array_unique(json_decode($userInfo['auth'], true));
                ?>
            </span>
        </div>
        <div class="header-set fr">
            <a href="javascript:;">
                <i class="icon icon-setting"></i>
                <span class="setting-txt">设置</span>
            </a>
            <ul class="header-set-list">

               <?php if($userInfo['type'] == 1  || in_array('User', $auth)){?>
                <li><a href="<?php echo U('User/accountInfo'); ?>">账号信息</a></li>
                <?php } ?>
                <?php if($userInfo['type'] == 1  || in_array('Manage', $auth)){?>
                <li><a href="<?php echo U('Manage/adminList'); ?>">团队管理</a></li>
                <li class="no-brdb"><a href="<?php echo U('Manage/bankInfo'); ?>">银行信息</a></li>
                <?php } ?>
            </ul>
        </div>
        
    </div>
</div>
<!-- 头部]] -->


