<include file="Public/_headPlatform" />
	<div class="about-us-banner"></div>
	<div class="wrapper">
		<h2 class="about-us-title">公司介绍<br/><i>COMPANY PROFILE</i></h2>
		<div class="Profile clearOver">
			<div class="video fl">
				<object type="application/x-shockwave-flash" data="http://cloud.video.taobao.com/play/u/47672394/p/1/e/1/t/1/39793999.swf" width="100%" height="100%" id="youku-player">
					<param name="allowFullScreen" value="true">
					<param name="allowScriptAccess" value="always">
					<param name="movie" value="http://player.youku.com/player.php/sid/XMTI2OTM0MzgzMg==/isAutoPlay/false/partnerid/0edbfd2e4fc91b72/v.swf">
					<param name="flashvars" value="imglogo=&amp;paid=0&amp;partnerId=0edbfd2e4fc91b72">
					<param name="wmode" value="transparent" />
				</object>
			</div>
			<div class="Profile-text fr">
				<i></i>
				<p>&nbsp&nbsp&nbsp&nbsp&nbsp<strong>智保易</strong>是智通人才连锁集团（股票代码：830969）旗下的互联网+社保服务平台。</p>
				<p>&nbsp&nbsp&nbsp&nbsp&nbsp20余年来，作为中国人力资源服务行业的领跑者，智通人才连锁集团始终致力于为各类企业提供领先的专业化人力资源服务解决方案，已为近5万家企业提供了人力资源外包服务，是国内率先荣获“中国驰名商标”称号的企业，2012年7月17日被国务院授予“全国就业先进企业”荣誉。2014年8月13日正式在“新三板”挂牌（股票代码：830969）。</p>
				<p>&nbsp&nbsp&nbsp&nbsp&nbsp<strong>智保易</strong>依托智通人才21年人力资源服务经验积淀和对社保代理业务的深刻理解，基于云+SaaS模式，将互联网理念引入社保服务，自主研发了互联网+社保服务平台，打破传统服务模式，实现全流程100%在线服务，从而提高服务效能、降低企业成本、提升用户价值，开创中国互联网社保服务新时代。</p>
			</div>
		</div>
		<a name="contect"></a>
		<div class="contect-us">
			<h3 class="about-us-title ">
				联系我们<br/><i>CONTACT US</i>
			</h3>
			
			<div class="about-address">
				<span class="address-title">智保易安徽运营中心</span>
				<span class="address-tip">（安徽智盈服务外包有限公司）</span>
				<dl class="horizontal">
					<dt class="left"><i class="icon helper-location"></i>地址：</dt>
					<dd class="right">合肥市黄山路602号<br>
						合肥国家大学科技园C区5楼
					</dd>
					<dt class="left"><i class="icon helper-tel"></i>电话：</dt>
					<dd class="right">0551-65301788</dd>
				</dl>
			</div>
		</div>
	</div>
<include file="Public/_footer"/>
<script type="text/javascript" data-module="socialSecurity" src="/Application/Home/Assets/js/dist/basePages.bundle.js"></script>