html * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box
}

body {
    background-color: #E9EEEF;
    font: 14px/1.6 "Microsoft YaHei", "Helvetica Neue", "Hiragino Sans GB", "\9ED1\4F53", Arial, sans-serif;
    min-width: $min-width;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"] {
    -webkit-appearance: none;
}

input[type="text"]::-ms-clear {
    display: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

a:hover,
a:link {
    text-decoration: none;
}

select {
    height: 35px;
}

.f-small {
    font-size: 12px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.inline-block {
    display: inline-block;
}

.dn,
.hide {
    display: none;
}

.horizontal {
    @include horizontal(5em);
    @for $i from 2 through 8 {
        &.horizontal-#{$i}em {
            @include horizontal($i + 0em, .5em);
        }
    }
}

.align-top {
    vertical-align: top;
}

.size0 {
    width: 100px;
}

.size1 {
    width: 150px;
}

.size2 {
    width: 200px;
}

.size3 {
    width: 250px;
}

.size4 {
    width: 300px;
}

.z-index1000 {
    z-index: 1000;
    position: relative;
}

@include makeFloatGrid();
.clear-l {
    clear: left;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix2 {
    display: inline-block;
    width: 100%;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.no-data-tip {
    padding: 40px;
    display: block;
    font-size: 20px;
    text-align: center;
    color: #999;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.c-gray {
    color: $color-gray;
}

.c-money {
    color: $color-primary;
}

.c-red,.c-fail,.c-error {
    color: $color-danger;
}

.c-success {
    color: $color-success;
}

.c-money-add {
    color: #78848f;
}

.c-money-minus {
    color: #fe4300;
}

.f-small {
    font-size: 12px;
}

.f-bold {
    font-weight: bold;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

// 详情页 面版
.pannel-detail {
    padding: 10px 30px;
    margin-bottom: 20px;
    background: #fff;
    .sod_select {
        width: 100%;
    }
    .horizontal {
        margin: 10px 0;
        .left {
            line-height: 35px;
        }
    }
    .icheck-label {
        margin-left: 15px;
    }
}

.pannel-detail-title {
    font-size: 16px;
    margin-bottom: 15px;
    color: #2c3e50;
    font-weight: bold;
}

.detail-btn-mt {
    &,
    &.btn {
        margin-top: 20px;
    }
}

//城市弹出层
.city-ipt {
    position: relative;
    border: 1px solid $border-default-color;
    border-radius: $border-radius;
    input {
        border: 0;
    }
    &:before {
        content: "";
        position: absolute;
        right: 10px;
        top: 0;
        bottom: 0;
        font-size: 7px;
        margin: auto;
        color: #bbb;
        border: 6px solid transparent;
        border-top-color: #bbb;
        border-bottom: 0;
        height: 0;
        width: 0;
    }
    > a {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 10px;
        line-height: 35px;
        color: #888;
        background: url(0) repeat-x;
    }
}

.icheck-box {
    .icheck-label {
        margin-right: 10px;
    }
}

