<extend name="Public/base" />
<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title cf">
		<h2>新增切屏广告</h2>
	</div>
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.css" />
<link rel="stylesheet" href="__PUBLIC__/static/uploadify/uploadify.css" />
	<!-- 标签页导航 -->
<div class="tab-wrap">
	<ul class="tab-nav nav">
		<volist name=":parse_config_attr($model['field_group'])" id="group">
			<li data-tab="tab{$key}" <eq name="key" value="1">class="current"</eq>><a href="javascript:void(0);">{$group}</a></li>
		</volist>
	</ul>
	<div class="tab-content">
		<form style="margin-top:3em;" action="{:U('addHandle')}" method="post">
		  <div class="form-group">
		    <label for="exampleInputEmail1">说明</label>
		    <input type="text" class="form-control" name="picture_title" placeholder="图片描述（用于alt属性）" required="required">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">广告链接</label>
		    <input type="text" class="form-control" name="picture_url" placeholder="点击该图片后跳转的链接 （适用于U函数）" >
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">广告位</label>
		    <select name="position">
		    	<option value="1">网站首页</option>
		    	<option value="2">服务机构首页</option>
		    	<option value="3">资讯首页</option>
		    </select>
		   
		  </div>		  
		  <div class="form-group">
		  		<input type="hidden" name="cache_name" value="carousel_picture">
		    		{:hook('UploadImages')}
		  </div>
			<style>
				.upload-img-box .upload-pre-item{
					width:400px;
					max-height:400px;
				}
			</style>
		  <button type="submit" class="btn btn-default">添　加</button>
		</form>	
	</div>
</div>
</block>
<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
</block>
