<extend name="Public/base" />
<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title cf">
		<h2>新增合作商家</h2>
	</div>
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.css" />
<link rel="stylesheet" href="__PUBLIC__/static/uploadify/uploadify.css" />
	<!-- 标签页导航 -->
<div class="tab-wrap">
	<ul class="tab-nav nav">
		<volist name=":parse_config_attr($model['field_group'])" id="group">
			<li data-tab="tab{$key}" <eq name="key" value="1">class="current"</eq>><a href="javascript:void(0);">{$group}</a></li>
		</volist>
	</ul>
	<div class="tab-content">
		<form style="margin-top:3em;" action="{:U('addHandle')}" method="post">
		  <div class="form-group">
		    <label for="exampleInputEmail1">商家名</label>
		    <input type="text" class="form-control" name="picture_title" placeholder="图片无法加载时显示此文字" required="required">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">站点url</label>
		    <input type="text" class="form-control" name="picture_url" placeholder="合作商家的url地址" >
		  </div>
		  <div class="form-group">
		  	<label for="exampleInputPassword1">商家logo</label>
		  	<input type="hidden" name="cache_name" value="partner_info">
		    	{:hook('UploadImages')}
		  </div>
			<style>
				.upload-img-box .upload-pre-item{
					width: 150px;
					height:109px;	
				}
				.upload-img-box .upload-pre-item img{
					width:100%;
					height:100%;
				}
			</style>
		  <button type="submit" class="btn btn-default">添　加</button>
		</form>	
	</div>
</div>
</block>
<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
</block>
