<include file="Public/_head"/>
	<div class="news-banner"></div>
	<div class="news wrapper clearOver">
		<ul class="news-side fl">
			<li class="news-title">最新资讯<br/><i>LATEST NEWS</i></li>
			<volist name="category" id="vo">
				<li><a href="/ServiceArticle-index-category_id-{$vo.id}-cid-{$Cid}" <php>if($_GET['category_id']==$vo['id']){ echo 'class="now"';$name=$vo['title'];}</php>>{$vo.title}</a></li>
			</volist>
		</ul>

		<div class="news-list fr">
			<h2 class="news-h" style="background:url('/Application/Home/Assets/img/{$img_name}.png');background-repeat: no-repeat;">
				<a href="/Index-service-cid-{$Cid}">首页</a> > <a href="/ServiceArticle-index-category_id-{$Think.get.category_id}-cid-{$Cid}">{$name}</a> > <a href="#">文章详情</a>
			</h2>
			<div class="article">
				<h3>{$article_info.title|html_entity_decode}</h3>
				<div class="article-time">时间：{$article_info.update_time}</div>
				<pre>{$article_info.content|html_entity_decode|htmlspecialchars_decode=###}</pre>
			</div>
		</div>
	</div>
<include file="Public/_footer"/>
<script data-module="help" data-methods="getList | {$Think.server.PHP_SELF} 2 {$count}" src="/Application/Home/Assets/js/dist/helpCenter.bundle.js"></script>