<include file="Public/_head" />
	<div class="news-banner"></div>
	<div class="news wrapper clearOver">
		<ul class="news-side fl">
			<li class="news-title">最新资讯<br/><i>LATEST NEWS</i></li>
			<volist name="category" id="vo">
				<li><a href="/ServiceArticle-index-category_id-{$vo.id}-cid-{$Cid}" <php>if($category_id==$vo['id']){ echo 'class="now"';$name=$vo['title'];}</php>>{$vo.title}</a></li>
			</volist>
		</ul>
		<div class="news-list fr">
			<h2 class="news-h"><?php if(empty($name)) $name = '最新资讯';?>{$name}</h2>
			<volist name="article_list.list" id="art">
				<div class="news-list-box">
					<div class="news-time fl">
						<em><php>$time = strtotime($art['update_time']);echo date('d',$time)</php></em>
						<p><php>$time = strtotime($art['update_time']);echo date('Y-m',$time)</php></p>
					</div>
					<dl class="fr">
						<dt><a href="/ServiceArticle-articleInfo-id-{$art.id}-category_id-{$art.category_id}-cid-{$Cid}">{$art.title}</a></dt>
						<dd>{$art.description}</dd>
					</dl>
				</div>
			</volist>
			<div class="no-news" style="clear: both;"></div>
			<div class="page">{$article.page}</div>
		</div>
		
	</div>
<include file="Public/_footer"/>
<script data-module="help" data-methods="getList | {$Think.server.PHP_SELF} 2 {$count}" src="/Application/Home/Assets/js/dist/helpCenter.bundle.js"></script>
