/* 
*产生样式
*/
@import "compass";
@import "compass/layout.scss";
$supported-browsers: chrome,firefox,ie;
@import "normalize";
@import "variables";
@import "mixins";
@import "base";
@import "page";
@import "components";

