<volist name="tool_list" id="msg" empty="暂无数据">
	<li>
		<a href="{$msg.url}" target="_blank">
			<div class="query-tool-type query-tool-type{$msg.type}"><span class="type"></span></div>
			<p class="query-tool-tit">{$msg.location|showAreaName}</p>
			<p class="query-tool-desc">
				<switch name="msg.type">   
				 	<case value="1">社保查询</case>
					<case value="2">社保办卡进度查询</case>   
					<case value="3">公积金查询</case>   
					<case value="4">公积金进度查询</case>   
				 	<default />数据错误
				</switch>
			</p>
		</a>
	</li>
</volist>