/* 最新资讯页面 */
.news-banner{
	height: 200px;
	background: url('#{$img-src}/news_banner.jpg');
}
.news-side{
	width: 200px;
	position: relative;
	margin-top: 100px;
	li{
		text-align:center;
		a{
			border: 1px solid #f2f1f2;
			border-top: none;
			line-height: 58px;
			color:$fontColor;
			display: block;
			font-size: 16px;
		}
		.now{
			background: $fontBody url('#{$img-src}/news_icon.png') no-repeat right center;
			color: #fff;
			border-right: none;
			border-left: none;
		}
	}
	.news-title{
		position: absolute;
		left: 0;
		top: -170px;
		width: 200px;
		height: 170px;
		line-height: 25px;
		background: $orange;
		color: #fff;
		font-size: 24px;
		padding-top: 61px;
		i{
			font-size: 14px;
			color: #ffeddb;
		}
	}
}
.news-list{
	width: 967px;
	min-height: 600px;
	padding-bottom: 60px;
	.news-h{
		height: 53px;
		border-bottom: 1px solid #f2f1f2;
		background: url('#{$img-src}/CompanyNews.png') no-repeat;
		padding-top: 22px;
		font-size: 18px;
		margin-top: 46px;
		margin-bottom: 15px;
		a{
			font-size: 14px;
			color: $fontBody;
		}
	}

	.no-news{
		margin-top: 20px;
	}
}
.no-data{
	text-align: center;
	background: #f5f4f2;
	line-height: 40px;
}
.news-list-box{
/* 	height: 150px; */
	padding: 22px 15px;
	overflow: hidden;

	&:hover {
		background: #f5f5f5;
	}
	dl{
		width: 850px;
		dt{
			font-size: 18px;
			font-weight: bold;
			padding-bottom: 21px;
			line-height: 26px;
			a{
				color:$orange;
			}
		}
		dd{
			line-height: 24px;
		}
	}
}
.news-time{
	width: 70px;
	height: 77px;
	background-color: #ffa64a;
	background-image: url('#{$img-src}/list-icon.png');
	background-repeat: no-repeat; 
	background-position: center 44px;
	text-align: center;
	em{
		width: 70px;
		height: 51px;
		border-bottom: 1px solid #fff;
		display: block;
		color: #fff;
		line-height: 50px;
		font-size: 24px;
	}
	p {
		background:#e9eeef;
		height: 26px;
		line-height: 27px;
		color: #78848f;
	}
}
//文章详情
.article{
	color: #000;
	h3{
		font-size:24px;
		color: $orange;
		font-weight: bold;
		text-align: center;
		padding-top: 20px;
		line-height: 34px;
	}
}
.article-time{
	text-align: center;
	padding:15px 0 40px 0;
}