/* 帮助中心 */
.help-banner{
	height: 200px;
	background: url('#{$img-src}/help_banner.jpg') center;
	margin-bottom: 50px;
}
.help-side{
	width: 200px;
	text-align: center;
	box-shadow: 0 2px 4px #cdd2d5;
	position: relative;
	top: 115px;
	h4{
		background: $orange;
		color: #fff;
		line-height: 50px; 
		font-size: 18px;
	}
}
.help-qq{
	border-bottom: 1px solid #e9eeef;
	padding: 8px 35px;
	display: block;
	color: #2c3e50;
	overflow: hidden;

	&:hover{
		color: $orange;
	}
	.icon {
		float: left;
	}
	.txt {
		text-align: left;
		display: block;
		margin-left: 45px;
		margin-top: 10px;
	}
}
.help-ewm{
	padding: 25px 10px;
	text-align: center;

	img {
		display: block;
		width: 110px;
		height: 110px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}
.hot-line{
	width: 208px;
	height: 125px;
	background-image: url('#{$img-src}/helper-sac9324e563.png');
	position: absolute;
	top: -150px;
	left: -3px;
}
.help-content{
	width: 950px;
	min-height: 700px;

	.title {
		border-bottom: 1px solid #cdd2d5;
		padding-bottom: 15px;
		font-size: 24px;
		color: $orange;
		margin-bottom: 30px;
		margin-top: -1px;

		&.no-border {
			border-bottom: 0;
		}

		.icon {
			margin-right: 16px;
			margin-top: 2px;
			top: -5px;
    		position: relative
		}
	}

	.collapse-item.active {
		.article-title {
			color: $orange;

			.dot{
				color: $orange;
			}
		}
	}
	.article-title {
		font-size: 16px;
		display: inline-block;

		.dot{
			color: #78848f;
		}
	}

	.auto-server-box {
		text-align: center;
		margin-bottom: 48px;
		margin-top: -5px;

		.txt{
			display: block;
			color: #78848f;
			font-size: 16px;
			margin: 18px 0;
		}
	}

	.collapse-box {
		li{
			margin-bottom: 26px;
			color: $fontColor;
			font-size: 16px;
			cursor: pointer;
			/* &:hover p{
				color: $orange;
			} */
		}
	}
}
.help-text{
	background: #f2f4f4;
	padding: 16px 40px;
	font-size: 14px;
	line-height: 28px;
	margin-top: 24px;
	position: relative;
	display: none;
	i{
		position: absolute;
		left: 12px;
		top: 14px;
		width: 24px;
		height: 26px;
		background-image: url('#{$img-src}/helper-sac9324e563.png');
	}
}


.collapse-item {
	.collapse-content {
		display: none;
	}
	&.active {
		.collapse-content {
			display: block;
		}
	} 
}