/* 社保大厅 */

.sbdt-banner {
    min-height: 30px;
    text-align: center;
}

.add-service {
    height: 500px;
    background: url('#{$img-src}/add_service_bg.jpg');
    h3 {
        font-size: 30px;
        color: #fff;
        text-align: center;
        padding: 68px 0 46px 0;
    }
}

.add-service-pro {
    height: 250px;
    position: relative;
    margin-top: 28px;
    h4 {
        font-size: 18px;
        color: $fontColor;
        padding: 80px 0 33px 0;
        text-align: center;
    }
    p {
        width: 238px;
        margin: 0 auto;
        line-height: 24px;
    }
}

.pro-box {
    width: 280px;
    height: 260px;
    margin-right: 20px;
    float: left;
    background: #fff;
    border: 1px solid #fff;
    transition: border-color .3s;

    &:hover {
        border-color: $orange;
    }

    .pro-box-title {
        color: #2c3e50;
        text-align: center;
        padding: 50px 0 25px;
    }
    .pro-box-content {
        color: #999;
        height: 52px;
        overflow: hidden;
        margin-bottom: 40px;
    }

    .pro-box-btn {
        display: block;
        margin: 0 auto;
        width: 90px;
        height: 34px;
        border: 1px solid $orange;
        color: $orange;
        text-align: center;
        line-height: 30px;
        cursor: pointer;

        &:hover {
            background-color: $orange;
            color: #fff;
        }
    }

    

}

.service-left,
.service-right {
    width: 40px;
    height: 85px;
    position: absolute;
    top: 90px;
    cursor: pointer;
    @include opacity(.5);

    &:hover {
        @include opacity(1);
    }
}

.service-left {
    background: url('#{$img-src}/sb-jt01.png') no-repeat;
    left: -110px;
    
}

.service-right {
    background: url('#{$img-src}/sb-jt.png') no-repeat;
    right: -110px;
}

//详情页
.detail_con {
    background: #e9eeef;
    padding-top: 20px;
    padding-bottom: 40px;
    .detail_box {
        .detail_text {
            float: left;
            width: 870px;
            .head_line {
                height: 40px;
                line-height: 40px;
                text-align: center;
                background: #f98919;
                color: #fff;
                font-size: 22px;
            }
            .text_con {
                padding: 40px;
                background: #fff;
                .price_box {
                    border-bottom: 1px dashed #cdd2d5;
                }
                .left_con {
                    // 
                    float: left;
                    padding: 40px;
                    padding-top: 0;
                    padding-right: 0;
                    .left_txt {
                        border-right: 1px dashed #cdd2d5;
                        .location_box {
                            span {
                                margin-right: 10px;
                            }
                        }
                    }
                    .price_txt {
                        margin-top: 30px;
                        .sigle_txt {
                            width: 50%;
                            height: 40px;
                            font-size: 14px;
                            color: #039dff;
                            display: block;
                            float: left;
                            i {
                                font-size: 18px;
                                font-weight: bold;
                            }
                            em {
                                font-size: 22px;
                                font-weight: bold;
                            }
                            span {
                                position: relative;
                                top: -4px;
                                font-size: 20px;
                                margin: 0 2px;
                            }
                        }
                    }
                    .c-green {
                        color: #74b60e;
                        width: 338px;
                        text-align: center;
                        margin-bottom: 20px;
                    }
                }
                .right_con {
                    float: right;
                    width: 253px;
                    a {
                        padding: 0;
                        margin-top: 44px;
                        width: 200px;
                        height: 50px;
                        line-height: 50px;
                        font-size: 18px;
                        text-align: center;
                    }
                }
                .detail_intro {
                    padding-top: 30px;
                    h3 {
                        margin-bottom: 15px;
                    }
                    .intro_tit {
                        color: #f98919;
                        margin: 5px 0;
                    }
                    p {
                        font-family: "microsoft yahei";
                        line-height: 30px;
                    }
                }
            }
        }
        .detail_list {
            float: right;
            width: 300px;
            overflow: hidden;
            .list_con {
                background: #f7f8fa;
                min-height: 260px;
                padding: 20px;
                border: 1px solid #fff;
                margin-bottom: 20px;
                .list_logo {
                    display: block;
                    margin: 0 auto;
                    border: 1px solid #cdd2d5;
                    width: 120px;
                    height: auto;
                }
                .list_txt {
                    font-size: 16px;
                    margin-top: 22px;
                    text-align: center;
                    margin-bottom: 18px
                }
                p {
                    text-indent: 2em;
                    line-height: 25px;
                    font-size: 14px;
                    color: #8d96a0;
                }
                .list_tit {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
                i {
                    font-size: 27px;
                    color: #8d96a0;
                    position: relative;
                    top: -3px;
                    left: -4px;
                }
                a {
                    line-height: 22px;
                    color: #8d96a0;
                }
            }
        }
    }
}
