<!-- 个人付款流水管理 -->
<extend name="Base/common" />
<block name="body">
    <div class="pannel-hd">
        <h2 class="cnt-title">企业付款流水管理</h2>
        <div class="query-tags-wra">
            <!-- <a href="javascript:;" class="query-tags">企业</a>
           <a href="javascript:;" class="query-tags active">个人</a>-->
        </div>
        <div class="query-form">
            <div class="query-item fl">
                <label class="query-lb" for="">订单号</label>
                <div class="ipt-box">
                    <input type="text" name="" class="ipt w-normal ellipsis" />
                </div>
            </div>
            <div class="query-item fl">
                <label class="query-lb" for="">付款方</label>
                <div class="ipt-box">
                    <input type="text" name="" class="ipt w-normal ellipsis" />
                </div>
            </div>
            <div class="query-item fl">
                <label class="query-lb" for="">状态</label>
                <div class="ipt-box box-small">
                    <select name="">
                        <option value="">全部</option>
                        <option value="">付款成功</option>
                        <option value="">未付款</option>
                        <option value="">付款失败</option>
                    </select>
                </div>
            </div>
            <div class="query-item fl">
                <label class="query-lb" for="">类型</label>
                <div class="ipt-box box-small">
                    <select name="">
                        <option value="" selected>全部</option>
                        <option value="">社保公积金</option>
                        <option value="">代发工资</option>
                        <option value="">服务套餐</option>
                    </select>
                </div>
            </div>
            <div class="query-item fl">
                <label class="query-lb" for="">客服人员</label>
                <div class="ipt-box box-small">
                    <select name="">
                        <option value="" selected>全部</option>
                        <option value="">客服1</option>
                        <option value="">客服2</option>
                        <option value="">客服3</option>
                    </select>
                </div>
            </div>
            <div class="query-item query-date fl">
                <label class="query-lb" for="">生成时间</label>
                <div class="ipt-box box-date">
                    <span class="ipt-pos">
                        <input id="create-begin" type="text" name="" class="ipt date-day w-xsmall" readonly />
                        <i class="icon icon-date"></i>
                    </span> -
                    <span class="ipt-pos">
                        <input id="create-end" type="text" name="" class="ipt date-day w-xsmall" readonly />
                        <i class="icon icon-date"></i>
                    </span>
                </div>
            </div>
            <div class="query-item query-date fl">
                <label class="query-lb" for="">付款时间</label>
                <div class="ipt-box">
                    <span class="ipt-pos">
                        <input id="pay-begin" type="text" name="" class="ipt date-day w-xsmall" readonly />
                        <i class="icon icon-date"></i>
                    </span> -
                    <span class="ipt-pos">
                        <input id="pay-end" type="text" name="" class="ipt date-day w-xsmall" readonly />
                        <i class="icon icon-date"></i>
                    </span>
                </div>
            </div>
            <button class="btn-query fl" type="submit">查询</button>
        </div>
    </div>
    <div class="pannel-tbl">
        <table summary="个人付款流水管理">
            <colgroup>
                <col width="14%" />
                <col width="14%" />
                <col width="8%" />
                <col width="8%" />
                <col width="8%" />
                <col width="10%" />
                <col width="11%" />
                <col width="11%" />
                <col width="8%" />
                <col width="8%" />
            </colgroup>
            <thead>
                <tr>
                    <th>订单号</th>
                    <th>付款方</th>
                    <th>付款类型</th>
                    <th>流水类型</th>
                    <th>状态</th>
                    <th>金额</th>
                    <th>生成时间</th>
                    <th>付款时间</th>
                    <th>客服人员</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2293842938428342938492</td>
                    <td>张三三</td>
                    <td>线上支付</td>
                    <td>社保公积金</td>
                    <td>付款成功</td>
                    <td>243234.00</td>
                    <td>2016-07-12 12:00:00</td>
                    <td>2016-07-12 12:00:00</td>
                    <td>客服1</td>
                    <td class="no-brdr">
                        <a href="javascript:;">明细</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            {$res.page}
        </div>
    </div>
    <div class="no-data-tip"> 未找到符合条件的记录---</div>
</block>
<block name="script">
    <script type="text/javascript" data-module="order" data-methods="payOrderList" src="/Application/Service/Assets/js/dist/order.bundle.js"></script>
</block>
<!-- 用于加载js代码 -->
