<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>企业找回密码</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/stylesheets/base.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/stylesheets/main.css">
</head>
<body>
	<div class="reg-process">
		<a href="/index-index.html">
			<h2>
				<p>企业重置密码</p>
			</h2>
		</a>
		<div class="reg-process-content">
			<form id="firmRegister" class="clearOver" action="{:U('Member/modifyPassword')}" method="post">
				<ul class="clearOver margin-center chongz">
					<li>
						<div class="reg-msg fl " >新密码：</div>
						<input class="text-input" type="password" name="user_password" id="password">
						<small id="notice_password"></small>
						<div class="password-qd">
							<i>中</i>
							<em class="ruo"></em>
							<em class="zhong"></em>
							<em class="qiang"></em>
						</div>
					</li>
					<li>
						<div class="reg-msg fl">密码确认：</div>
						<input class="text-input" type="password" name="confirm_password" id="confirm_password">
						<small id="notice_sure"></small>
					</li>
				</ul>
				<input class="submit button buttonOrange" type="submit" value="确定">
			</form>
		</div>
	</div>

<include file="Public/footer" />
<script src="__PUBLIC__/Home/js/layer.js"></script>
<script src="/Public/Home/js/resetpassword.js"></script>
<script>
// var user_password = false;
// var confirm = false;
// var password = '';
// var rep_password = '';
// function VerifyPassword(){
// 	var obj = '#password';
// 	var txt = '#notice_password';
// 	password = $(obj).val();
// 	var reg = /(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^.{6,20}$/;
// 	if(password.match(reg)){
// 		user_password = true;
// 		$(txt).html('输入正确');
// 		$(txt).hide();
// 		return true;
// 	} 
// 	user_password = false;
// 	$(txt).html('密码格式不正确');
// 	$(txt).show();
// }
// //验证密码
// $("#password").focus(function(){
// 	$('#notice_password').html('6-20位字母、数字或符号至少两种组合');
// 	$('#notice_password').show();	
// })
		
// $('#password').blur(VerifyPassword);
// $("#confirm_password").blur(verifyRpassword);
// function verifyRpassword(){
// 	var obj = '#confirm_password';
// 	var txt = '#notice_sure';
// 	rep_password = $(obj).val();
// 	var reg = /(?!^[0-9]+$)(?!^[A-z]+$)(?!^[^A-z0-9]+$)^.{6,20}$/;
// 	if(rep_password.match(reg) && rep_password==password ){
// 		confirm = true;
// 		$(txt).html('输入正确');
// 		$(txt).hide();
// 		return true;
// 	} 
// 	confirm = false;
// 	$(txt).html('两次密码不一致');
// 	$(txt).show();
// }

// $("#confirm_password").focus(function(){
// 	$('#notice_sure').html('再次输入密码');
// 	$('#notice_sure').show();
// });

// $('#firmRegister').submit(function() {
// 	VerifyPassword();
// 	verifyRpassword();
// 	if(user_password && confirm){
// 		$.post("{:U('modifyPassword')}",{'user_password':password,'confirm_password':rep_password},function(msg){
// 			if(msg.status==0){
// 				setTimeout(function(){
// 					window.location.href='/Member-firmLogin';
// 				},3000);
// 			}
// 			layer.msg(msg.content);
// 		});
// 	}
// 	return false;
// });
</script>

