<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{:C('WEB_SITE_TITLE')}</title>
	<style>
	*{margin: 0;padding: 0;}
	p{line-height: 35px;}
	.content{
		padding: 20px;
		width: 900px;
	}
	.content img{
		margin-bottom: 20px;
	}
	</style>
</head>
<body>
	<div class="content">
		<img src="{$_SERVER['SERVER_NAME']}/Application/Home/Assets/img/email-logo.png" alt="">
		<p>尊敬的<span>{$firm_name}</span></p>
		<p>您申请找回智保易账号密码，请点击以下链接重置若非本人申请，请忽略并保管好密码。</p>
		<p>
			<!-- <a href="{$reset_url}">{$reset_url}</a> -->
			<if condition="$is_qq eq 1">
				<a>{$reset_url}</a>
			<else />
				<a href="{$reset_url}">{$reset_url}</a>
			</if>
		</p>
		<p>（24小时有效，请勿回复）</p>
		<p style="text-align: right;">{:C('WEB_SITE_TITLE')}</p>
		<p style="text-align: right;">{:date('Y-m-d H:i:s')}</p>
	</div>
	
</body>
</html>