<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{:C('WEB_SITE_TITLE')}-邮箱验证</title>
	<link rel="stylesheet" href="/Application/Home/Assets/css/main.css">
</head>
<body>
	<div class="reg-process">
		<a href="/index-index.html">
			<h2>
				<p>企业注册</p>
			</h2>
		</a>
		<input type="hidden" value="{$verify_status|default=false}" id="is_jump">
		<div class="reg-process-content">
			<if condition="$verify_status">
				<div class="reg-cg" ><!-- 06-邮箱验证成功-未绑定微信 -->
					<h3 class='reg-titile'>邮箱验证成功！</h3>
					<p></p>
					<a href="{:U('Index/index')}"><img src="/Application/Home/Assets/img/help_ewm.png" alt=""></a>
					<em>扫一扫，随手掌握参保动态</em>
				</div>
				<div style="text-align:center"><span id="sec">10</span>秒后自动跳转首页>></div>
			<else />
				<div class="reg-fail02"><!-- 验证失败02 -->
					<p>啊哦，验证失败了，点击重新发送~</p>
					<a id="J_aginVerify" href="{:U('aginVerify',array('firm_id'=>$company_id))}">马上去验证>></a>
				</div>
			</if>
		</div>
	</div>


<include file="Public/baseScript" />
<script data-module="firmRegister2" data-methods="verifyEmail" src="/Application/Home/Assets/js/dist/loginReg.bundle.js"></script>
<script>

		var is_jump = document.getElementById('is_jump').value;

		if(is_jump){
			var i = 10;
			setInterval(function(){

				document.getElementById('sec').innerHTML = i;
				i--;

				if(i<=0){
					window.location.href="/Index-index";
				}

			},1000);
		}

</script>