<footer class="footer">
    <div class="address">
		<div class="address_text">
			<i class="icon icon-navigation"></i>深圳市福田区嘉麟豪庭B座1904
		</div>
		<div class="address_text">
			<i class="icon icon-phone"></i>075584840706 <span>周一至周五 9:00-18:00 </span>
		</div>
    </div>
    <div class="footer_lnk">
        <a rel="external nofollow" target="_blank" href="http://www.chitone.com.cn/" title="集团官网">集团官网</a>
        <a rel="external nofollow" target="_blank" href="http://www.job5156.com/" title="智通人才">智通人才</a>
        <a rel="external nofollow" target="_blank" href="http://www.hr5156.com/" title="智通外包">智通外包</a>
        <a rel="external nofollow" target="_blank" href="http://www.hunter5156.com/" title="智通美瀚">智通美瀚</a>
        <a rel="external nofollow" target="_blank" href="http://www.xue5156.com/" title="智通学习">智通学习</a>
        <a rel="external nofollow" target="_blank" href="http://www.mydaojia.com/" title="智通到家">智通到家</a>
        <a rel="external nofollow" target="_blank" href="http://easy.job5156.com/" title="智事易">智事易</a>
        <a rel="external nofollow" target="_blank" href="http://www.uggd.com/" title="模具联盟">模具联盟</a>
    </div>
    <div class="footer_lnk copyright">
    	   Copyright©1999-{:date('Y')} job5156.com&nbsp&nbsp 广东智通人才连锁股份有限公司版权所有&nbsp&nbsp粤B2-20040400  粤B2-20040400-2
    </div>
</footer>
<include file="Public/var"/>
<!--[if lt IE 9]> 
    //ie8 不兼容 style-loader
    <script type="text/javascript" src="/Public/static/ie/es5-shim.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/Application/Company/Assets/v2/js/dist/common.bundle.js"></script>
<script src="/Application/Company/Assets/v2/js/dist/base.bundle.js"></script>
