<div class="tip_box">
	<!-- <div class="tip_on tip_qr"> 
		<div class="tip_btn">
			<i class="icon icon-qr-sprite"></i>
		</div>
		<div class="tip_con"> 
			<img src="/Application/Company/Assets/v2/images/QR.png">
		</div>
	</div> -->
	<!-- <div class="tip_on tip_qq"> 
		<div class="tip_btn">
			<div class="qq_text">杨小姐<span>2545654599</span></div>
			<i class="icon icon-qie-sprite"></i>
		</div>
	</div> -->
	<div class="tip_on tip_up" id="back_top"> 
		<div class="tip_btn">
			<i class="icon icon-goup-sprite"></i>
			<div class="back_box">
				返回顶部
			</div>
		</div>
	</div>
</div>
