body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
select,
textarea,
button,
th,
td,
menu,
pre {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

ul,
dl,
ol {
    list-style: none
}

img,
fieldset,
input[type="submit"] {
    border: 0 none
}

img {
    display: inline-block;
    overflow: hidden;
    vertical-align: top
}

em {
    font-style: normal
}

strong {
    font-weight: normal
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button,
input[type="button"] {
    cursor: pointer;
    border: 0 none;
    outline: none
}

textarea {
    word-wrap: break-word;
    resize: none
}

input,
select,
textarea,
a,
button {
    outline: none
}

a {
    text-decoration: none
}

a,
button {
    -webkit-transition: all 0.12s linear;
    -moz-transition: all 0.12s linear;
    -ms-transition: all 0.12s linear;
    transition: all 0.12s linear
}

input,
textarea,
keygen,
select,
button {
    font: inherit
}

pre {
    font-family: inherit;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word
}
img {
    max-width: 100%;
    border:0 none;
    vertical-align: top;
}

a,ins{
    text-decoration:none;
}
a:focus{outline:none; -moz-outline:none}

i,em{
    font-style: normal;
}

input,button,textarea,select,option {
    font-family:inherit;
    font-size:100%; 
    outline: 0;
}
textarea {
    overflow: auto;
    resize: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input::-webkit-input-placeholder {color: #b5bbc1;}
textarea::-webkit-input-placeholder {color: #b5bbc1;}
input:-moz-placeholder{color: #b5bbc1;}
input::-moz-placeholder{color: #b5bbc1;}
textarea:-moz-placeholder{color: #b5bbc1;}
textarea::-moz-placeholder{color: #b5bbc1;}
input:-ms-input-placeholder {color: #b5bbc1 !important;}
textarea:-ms-input-placeholder {color: #b5bbc1 !important;}

html * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box
}

body {
    font: 14px/1.6 "Microsoft YaHei", "Helvetica Neue", "Hiragino Sans GB", "\9ED1\4F53", Arial, sans-serif;
}

.commWidth {
    width: 1180px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
}

.hide {
    display: none;
}

.show {
    display: block;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}

.horizontal {
    @extend .clearfix;
    @include horizontal(80px)
}

.badge {
    padding: 0 2px;
    background: #ff4400;
    display: inline-block;
    color: #fff;
    line-height: normal;
    border-radius: 45%;
    font-size: 12px;
}

.bg-white {
    background: #fff;
}

// 点击展开更多
.limit-height-box {
    position: relative;
    padding-right: 20px;
    line-height: inherit;

    .read-all {
        position: absolute;
        top: 12px;
        right: 0;
        z-index: 10;
        cursor: pointer;
        display: none;
        @include triangle(6px, #b5b5b5, top);
    }

    &.active {

        .read-all:before {
            border-top: 0;
            border-bottom: 6px solid $c-primary;
        }
    }
}
.bg {
    background: #FFFFFF;
}
