.pagination {
    text-align: right;
    font-size: 0;
    a,
    span {
        display: inline-block;
        font-size: 14px;
        color: #78848F;
    }
    a,
    .current {
        padding: {
            top: 6px;
            bottom: 5px;
            left: 12px;
            right: 12px;
        }
        margin: {
            left: 3px;
            right: 3px;
        }
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
    }
    .current {
        color: #F98A19;
        border-color: #F98A19;
    }
    a {
        &:hover {
            color: #F98A19;
            border-color: #F98A19;
        }
    }
    .rows {
        margin: {
            left: 5px;
        }
    }
}
