//图标
@import "icon/*.png";
@import "compass/utilities/sprites";

$icon-sprite-dimensions:true;//设置变量的值，使雪碧图都有宽高

$icon-clean-up:true;//是否删除就是sprite


.icon{
	display: inline-block;
	position: relative;
	margin: 0 5px;
	top:-1px;
	vertical-align: middle;

	&.no-gutter{
		margin: 0;
	}
}
@include all-icon-sprites;
